/*Colors*/
:root {
  --backgroundColor: #f2e5d7;
  --addColor: #ffbcb5;
  --fontColor: #3a2e39;
  --hoverColor: #ebbff6;
  --tableBackgroundColor: #e0d3de;
  --tableBorderColor: #73648a;
  --btnColor: #fafbfc;
  --btnTextColor: black;
  --btnBorderColor: #66626f;
  --btnHoverBackgroundColor: #e3d4e9;
}
