/*Load Colors from colors.css*/
@import "colors.css";

/* Normalize */
* {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: var(--backgroundColor); */
}

/* General Elements Styling */
body {
  font-family: "Rajdhani", sans-serif;
  margin-top: 5rem;
  background-color: #f0ece7;
  color: black;
  width: 100%;
  font-size: 1.8rem;
}
/* End of General Elements Styling */

/* Page Identifier Name */
main {
  height: 100vh;
}

#pageIdentifier {
  margin-top: 10rem;
  text-align: center;
}
/* End of Page Identifier Name */

/* Table styling */
table {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.5rem;
}

th {
  padding: 1rem;
  border-style: solid;
  background-color: var(--tableBackgroundColor);
}

td {
  padding: 1rem;
  text-align: center;
}

#editIcon {
  width: 30px;
}
/* End of Table styling */
