/*Colors*/
:root {
    --backgroundColor: #F2E5D7;
    --addColor: #FFBCB5;
    --fontColor: #3A2E39;
    --hoverColor: #EBBFF6;
    --tableBackgroundColor: #e0d3de;
    --tableBorderColor: #73648A;
}