/* Header & Navigation Styling */
header {
    background-color: #dacae1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(116, 103, 127);
    width: 100%;
    margin-bottom: 5rem;
    z-index: 10;
}

header img {
    height: 150px;
    margin-left: 2rem;
}

header * {
    display: inline;
}

header li {
    margin: 2rem;
}

header li a {
    color: black;
    text-decoration: none;
    /* font-size: 1.7rem; */
}

header li a:hover {
    color: rgb(145, 103, 179);
  }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 5px;
}

nav > ul {
    display: inherit;
    padding: 40px 70px;
    text-align: center;
}
/* End of Header & Navigation Styling */