/*Load Colors from colors.css*/
@import "colors.css";

/* Page Identifier*/
#pageIdentifier > *  {
    /* Font size of page identifier + button */
    display: inline;
    margin-left: 5vw;
}
/* End of Page Identifier*/



/* Button Styling */
button {
    font-family: 'Rajdhani', sans-serif;
    color: var(--btnTextColor);
    border: 1px solid var(--btnBorderColor);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: var(--btnHoverBackgroundColor);
    text-decoration: none;
    transition-duration: 0.1s;
}

#editButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#addButton {
    border: 1px solid var(--btnBorderColor);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-left: 10vw;
}
/* End of Button Styling */

/* Popup Form Styling */
#popupForm {
    display: none;
    background-color: var(--tableBackgroundColor);
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    right: 30%;
    left: 30%;
    border: 2px solid black;
    z-index: 9;
  }

#popupForm > * {
    padding: 2%;
    font-size: medium;
    padding-top: 2%;
}

#popupForm input {
    margin: 2%;
    padding: 1%;
}

#hourField, #minField {
    max-width: 5%;
}

#addNewTask {
    text-align: center;
}

#cancelButton, #subButton {
    float: right;
    margin: 2%;
    padding: 1%;
}

textarea {
    width: 80%;
    height: 5vh;
}

#textArea * {
    vertical-align: middle;
}
/* Popup Form Styling Completed */